.chamada {
    background-image: url(../img/splash-chamada.svg);
    background-position: top -4rem right;
    background-repeat: no-repeat;
    margin-bottom: 2.5rem;
    padding-top: 2.5rem;
    position: relative;
}

.chamada__texto {
    margin-bottom: 1.55rem;
    width: 12.5rem;
}

.chamada__imagem {
    right: 0;
    position: absolute;
    top: 3.25rem;
}

.chamada__formulario {
    position: relative;
    z-index: 2;
}